.selection {
  background: rgba(56, 186, 82, 0.1);
  border: 2px #38ba52 solid;
}
.first-selected {
  z-index: 99999999;
  background-color: none;
  /* box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3); */
  border: 2px solid #38ba52;
  /* transform: translateY(-2px); */
}
